
<script type="text/javascript">
	
  $(document).ready(function() {
		setTimeout(function(){
			ajustar();
		}, 10);
		

       // $(".wheel").css('background-image', 'url(http://localhost/img/mecanica1/ruleta.png)');

	});



	$(window).resize(function() {
		  //ajustar();
	});

	function ajustar(){
  		//altoRueda = $('.wheelContainer .wheelSVG').height();
  		//$('.wheelContainer').css({'height':altoRueda});
	}


  function rand(min, max) {
          return Math.random() * (max - min) + min;
  }

  var color = ['#fbc','#f88','#fbc','#f88','#fbc','#f88', "#fbc", "#f67"];
  var label = ['10', '200', '50', '100', '5', '500', '0', "jPOT"];
  var slices = color.length;
  var sliceDeg = 360/slices;
  var deg = rand(0, 360);
  var speed = 0;
  var slowDownRand = 0;
  var ctx = canvas.getContext('2d');
  var width = canvas.width; // size
  var center = width/2;      // center
  var isStopped = false;
  var lock = false;

  function deg2rad(deg) {
    return deg * Math.PI/180;
  }

  function drawSlice(deg, color) {
    ctx.beginPath();
    ctx.fillStyle = color;
    ctx.moveTo(center, center);
    ctx.arc(center, center, width/2, deg2rad(deg), deg2rad(deg+sliceDeg));
    ctx.lineTo(center, center);
    ctx.fill();
  }

  function drawText(deg, text) {
    ctx.save();
    ctx.translate(center, center);
    ctx.rotate(deg2rad(deg));
    ctx.textAlign = "right";
    ctx.fillStyle = "#fff";
    ctx.font = 'bold 30px sans-serif';
    ctx.fillText(text, 130, 10);
    ctx.restore();
  }

  function drawImg() {
    ctx.clearRect(0, 0, width, width);
    for(var i=0; i<slices; i++){
      drawSlice(deg, color[i]);
      drawText(deg+sliceDeg/2, label[i]);
      deg += sliceDeg;
    }
  }

  (function anim() {
    deg += speed;
    deg %= 360;

    // Increment speed
    if(!isStopped && speed<3){
      speed = speed+1 * 0.1;
    }
    // Decrement Speed
    if(isStopped){
      if(!lock){
        lock = true;
        slowDownRand = rand(0.994, 0.998);
      } 
      speed = speed>0.2 ? speed*=slowDownRand : 0;
    }
    // Stopped!
    if(lock && !speed){
      var ai = Math.floor(((360 - deg - 90) % 360) / sliceDeg); // deg 2 Array Index
      ai = (slices+ai)%slices; // Fix negative index
      return false; // alert("You got:\n"+ label[ai] ); // Get Array Item from end Degree
    }

    drawImg();   //mostrar la imagen inicial
    window.requestAnimationFrame( anim );  //arrancar el proceso

  }());

  document.getElementById("spin").addEventListener("mousedown", function(){
    isStopped = true;
  }, false);

</script>

var rotateCD,
    playBtn = document.getElementById("play"),
    pauseBtn = document.getElementById("pause");


rotateCD = new TweenMax.to('#creature', .3, {rotation:"360", ease:Linear.easeNone,repeat:-1,paused:true}).timeScale(0);

play.onclick = function(){
  rotateCD.play();
  TweenLite.to(rotateCD,2,{timeScale:1});
};

pause.onclick = function(){
  TweenLite.to(rotateCD,2,{timeScale:0,onComplete:function(){ this.pause() }})
};